/* intestazione css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.riga {
width: 68%;
z-index: 0;
}

.box {
  background-color: lightblue;
  width: 350px;
  height: 410px;
  text-align: center;
  display: inline-block;
  padding: 25px 20px;
  z-index: 1;
  position:relative;

}

.sconto30 {
  background-color: green;
  width: 40px;
  height: 20px;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
}

.sconto5 {
  background-color: red;
  width: 40px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.box .cuore  {
  display: none;
}

.box:hover .cuore {
  display: block;
}

/* riga A */

.riga-a {
  background: lightgray;
  /* border: 3px solid black; */
}


/* riga B */

.riga-b {
  background: lightgray;
  /* border: 3px solid black; */
  position: absolute;
  top: 60%;
}
